
.page-content {
  background-color: #111720;
}

.block-title {
  color: #1E93FF;
}

.block-strong {
  background-color: #111720;
  margin: 10px;
  border-radius: 15px;
}

.list ul {
  background-color: #111720;
}

.list li {
  background-color: #111720;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 15px;
  border:2px solid #1E93FF;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius:23.3%;
}
.back-btn {
  border-radius: 7px;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #111720;
  padding: 5px;
  width: 50px; 
  float: right;
  font-weight: 700;
  text-align: center;
  color:#1E93FF;
}
.txt {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color:#F2F7FF;
  letter-spacing: 1.5px;
}
.count {
  width: 0px;
  height: 0px;
  border-radius:23.3%;
}
.metric {
  width: 120px;
  height: 120px;
  border-radius:23.3%;
}
.top{
  position:absolute;
  top:0;
  left:0;
  width:100%;
}
.next{
  border-radius: 7px;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #111720;
  padding: 5px;
  width: 50px; 
  float: right;
  font-weight: 700;
  text-align: center;
  color:#F2F7FF;
}
.next:hover {
  background: #111720;
  color:#1E93FF;
  transition: all 0.1s
}
.next:active:after {
  padding: 0;
  margin: 0;
  transition: 0s
}
.get{
  border-radius: 7px;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #111720;
  padding: 5px;
  width: 50px; 
  float: right;
  font-weight: 700;
  text-align: center;
  color:#F2F7FF;
}
.get:hover {
  background: #111720;
  color:#1E93FF;
  transition: all 0.1s
}
.get:active:after {
  padding: 0;
  margin: 0;
  transition: 0s
}